body {
    background-color: #F44336;
}

P {
    position: relative;
    margin-left: 5%;
    font-family: monospace;
    font-size: 1.5em;
}

#quote-container {
    position: absolute;
    width: 50%;
    height: 250px;
    left: 25%;
    border: none;
    margin-top: 10%;
    border-radius: 5px;
    background-color: #F3F3F3;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button {
    position: relative;
    color: #3F51B5;
    top: 77px;
    left: 105%;
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 50%;
    background-color: #C5CAE9;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

button:focus {
    box-shadow: 0 0 3px #ddd;
    outline: 0;
}

button:hover {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .5);
}

.fa-repeat {
    font-size: 24px;
    background-color: transparent;
    border: 0;
    text-shadow: transparent;
}